{% extends 'base.html' %}
{% block content %}

<h1 class="text-4xl">Puzzle Details</h1>

<div class="">
    <div class="">
        <div class="">
            <div class="">
                <span class="">{{ puzzle.name }}</span>
                <p>Description: {{ puzzle.description }}</p>
                <p>Difficulty: {{ puzzle.difficulty }}</p>

                {% if puzzle.lock == 'number' %}
                    <p>Lock: {{ puzzle.lock }}</p>

                    {% include 'numberCounter.html' %}
                
                {% elif puzzle.lock == 'letter' %}
                    <p>Lock: {{ puzzle.lock }}</p>

                    {% include 'letterCounter.html' %}
                
                {% elif puzzle.lock == 'dial' %}
                    <p>Lock: {{ puzzle.lock }}</p>

                    {% include 'dialCounter.html' %}

                {% else %}
                    <p>Lock: {{ puzzle.lock }}</p>
                {% endif %}


                {% for photo in puzzle.photo_set.all %}
                    <img src="{{ photo.url }}">
                {% endfor %}
            </div>
            <div class="">
                <a href="{% url 'puzzles_update' puzzle.id %}">Edit</a>
                <a href="{% url 'puzzles_delete' puzzle.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>

<script>
    const increment = (counter) => {
        const counterElement = document.getElementById(`counter-${counter}`);
        const currentValue = parseInt(counterElement.innerText);

        if (currentValue < 9) {
            counterElement.innerText = currentValue + 1;
        } else {
            counterElement.innerText = 1;
        }

        // Update the hidden input value
        document.querySelector(`input[name="counter-${counter}"]`).value = counterElement.innerText;
    }

    const decrement = (counter) => {
        const counterElement = document.getElementById(`counter-${counter}`);
        const currentValue = parseInt(counterElement.innerText);

        if (currentValue > 1) {
            counterElement.innerText = currentValue - 1;
        } else {
            counterElement.innerText = 9;
        }

        // Update the hidden input value
        document.querySelector(`input[name="counter-${counter}"]`).value = counterElement.innerText;
    }

    document.getElementById('counter-form').addEventListener('submit', function (event) {
        // Prevent the form from submitting immediately
        event.preventDefault();

        const dialValues = Array.from(document.querySelectorAll('[name^="counter-"]')).map(input => input.value);

        // Display the values in the resultElement
        const resultElement = document.getElementById('result');
        resultElement.innerText = dialValues.join(', ');
    });
</script>



{% endblock %}