{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block content %}

  {% if object %}
    <h1>Edit <span class="text-center text-3xl">{{object.name}}</span></h1>
  {% else %}
    <h1 class="text-center text-3xl">Add Room</h1>
  {% endif %}

  <form action="" method="post" class="p-4 border rounded-lg">
    {% csrf_token %}
    <table class="w-full">
      {{ form|crispy }}
    </table>
    <input type="submit" value="Submit" class="mt-4 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-3 py-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
  </form>

{% endblock %}