{% extends 'base.html' %}
{% block content %}

<h1>Rooms List</h1>

{% for room in rooms %}
    <a href="{% url 'detail' room.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ room.name }}</span>
            <p>Description: {{ room.description|linebreaks}}</p>
            <p>Difficulty: {{ room.difficulty }}</p>
            <p>How many Players?: {{ room.players }}</p>
            <p>Duration: {{ room.duration }}</p>
            <p>Price: {{ room.price }}</p>
            <p>Location: {{ room.location }}</p>
        </div>
    </div>
    </a>
{% endfor %}

{% endblock %}